h1, h2, h3, h4, h5, h6 {
    color: $accblu;
}

h2 {
    border-color: white;
    background: darken($dkgry, 20%);
}

body {
    background: darken($dkgry, 20%);
    background-image: url("../images/stars.svg");
    background-repeat: repeat;
    color: white;
}

header {
    background: black;
    border-color: darken($dkgry, 20%);

    svg {
        #f.p, circle.p {
            fill: white;
        }
        .p, .q {
            fill: $dkgry;
        }
        
        .s {
            fill: $accblu;
        }

        .r {
            fill: $mdgry;
        }
    }
}

aside nav ul li {
    border-color: white;
    background-color: darken($dkgry, 20%);
}

footer {
    border-color: darken($dkgry, 20%);
    background: black;
    color: white;
}

a {
    color: $accblu;

    &:hover {
        color: white;
    }
}

article.post, article.post-l {
    background: $dkgry;

    header {
        border-color: $dkgry;
    }
}