@import "m06";

#feed {
    padding: 20px;

    @include qmax($tablet-sm) {
        padding: 0;
    }
}

.user {
    display: flex;
    flex-direction: row;
    @include row-left;
    height: 100px;

    @include qmax($tablet-sm) {
        height: 75px;
        h2 {
            font-size: 1.5rem;
            padding-bottom: 0;
        }

        p {
            font-size: 1rem;
        }
    }

    div {
        margin: auto 0;
    }

    h2 {
        margin-bottom: 0;
        border: none;
    }

    p {
        margin-top: 0;
    }

    img {
        margin: 10px 5px 10px 30px;
        border-radius: $radius;
    }
}

article.post-l {
    width: 100%;
    border-radius: $radius;
    background: white;

    h3 {
        font-size: 1.75rem;
    }

    h3+p {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }

    .post-content {
        padding: 20px;
        
        img {
            width: 100%;
        }
    }
} //Article Post-l END

@media screen and (prefers-color-scheme: dark) {
    @import "night";
}