body {
	display: block;
	background: white;
	color: black;
	overflow: visible;
}

header {
	grid-area: header;
	background: white;
}

main {
	grid-area: main;
}

aside {
	grid-area: side;
}

footer {
	grid-area: footer;
}

.inrow {
	display: block;
}

.feat-cnt {
/*	display: block;*/
	max-width: 500px;
	margin-left: 100px;
}

.printer {
	float: right;
}