@mixin banner {
	width: 100%;
	position: relative;
	color: white;
    background-color: $deepBlue;
	.banner-content {
		position: absolute;
		top: 50px;
		width: 100%;
        @include mQ($mobile) {
            top: 25px;
        }
	}
	img {
		width: 100%;
        @include mQ($mobile) {
            opacity: 0.4;
        }
	}
	span {
		font-size: $bannerHeading;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
        @include mQ(3000px, 1200px){
            font-size: 68px;
        }
        @include mQ(1199px){
            font-size: 48px;
        }
        @include mQ($tablet){
            font-size: 32px;
        }
        @include mQ($mobile){
            font-size: 24px;
        }
	}

	span.title {
		font-weight: normal;
		margin-bottom: 30px;
        @include mQ($mobile){
            margin-bottom: 0;
        }
	}
}

@mixin clearFix {
    &:after{
        content: "";
	    display: block;
	    clear: both;
    }
}

@mixin grid($cols, $mgn) {
    // float: left;
    // margin-right: $mgn;
    // margin-bottom: $mgn;
    // width: ((100% - (($cols - 1) * $mgn)) / $cols );
    // &:nth-child(#{$cols}n) {
    //     margin-right: 0;
    // }
    margin-right: $mgn;
    margin-bottom: $mgn;
    display: grid;
    grid-template-columns: repeat($cols, auto);
    grid-auto-rows: auto;
    gap: $mgn;
    // column-count: $cols;
    // column-gap: $mgn;
}

@mixin mQ($arg...) {
    @if length($arg) == 1 {
       @media screen and (max-width: nth($arg, 1)){
            @content;
        } 
    }
    @if length($arg) == 2 {
        @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
            @content;
        }
    }
}