@charset "utf-8";
/* CSS Document */
:root {
	--dkgry: #595959;
	--mdgry: #E5E5E5;
	--accblu: #82E3FB;
}

body {
	margin: 0;
	background: var(--mdgry);
	font-family: aglet-sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: var(--dkgry);
}

header {
	padding: 10px;
	background: var(--accblu);
	font-size: 20px;
	text-align: center;
	border-bottom: var(--mdgry) double 20px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	padding: 5px;
}

main {
	width: 70%;
	margin: 20px auto;
}

.prj {
	width: 800px;
	margin: 10px;
	padding: 10px;
	background: white;
	border: var(--dkgry) solid 3px;
	border-left: var(--dkgry) solid 20px;
	border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	font-family: balboa, sans-serif;
	font-style: normal;
	font-weight: 500;
	color: black;
}

h1 {
	margin-top: 0;
}

h3 {
	margin-bottom: 0.25rem;
}

h3+p {
	margin-top: 0.25rem;
}

p {
	text-indent: 2em;
}

a {
	color: black;
}

a:hover {
	color: var(--dkgry);
}

footer {
	padding-right: 15px;
	text-align: right;
}

.nounder {
	text-decoration: none;
}

.inrow {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.wrp {
	flex-wrap: wrap;
}

.rgt {
	display: block;
	margin: 1em;
	text-align: right;
}

.portrait {
	width: 400px;
	height: 100%;
	flex-grow: 1;
}

.btn {
	text-align: center;
	background: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

.btn:hover {
	background: var(--accblu);
	color: black;
}
